  h1 {color: rgb(0, 128, 128);}
  body {background-color: rgba(255, 253, 151, 0.71);
        max-width: 650px;
       }
  p {background-color: rgb(255, 255, 230);
     text-align: center;
     max-width: 640px;
     }
  body {max-width:660px, margin:auto, background-color: rgb(255, 255, 230);}
