  h1 {color: rgb(0, 128, 128);
      background-color: rgb(195, 255, 227);
      max-width: 640px;
}
  h2 {color: rgb(0, 128, 128);
      background-color: rgb(195, 255, 227);
      max-width: 640px;
}
  body {background-color: rgba(151, 255, 241, 0.22);
        max-width: 650px;
       }
  p {background-color: rgb(195, 255, 227);
      max-width: 640px;
     }
#page-wrap {width: 670;
          margin: 0 auto;
          text-align: center;
     }
